.add-perguntas {
    background: linear-gradient(180deg, rgba(0, 216, 184, 0.185) 0%, rgba(232,230,230,0.7161239495798319) 61%);
}

.card-admin {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.20);
}

.card-admin .div-alertas {
    margin-top: 40px;
}

.card-admin .filtros {
    flex-wrap: wrap;
}

.card-admin .btn-filtro {
    width: 100px;
    float: right;
    border: 2px solid black;
}

.card-admin .btnFecharAlert {
    float: right;
    cursor: pointer;
}

.card-admin .acoesAdministrador {
    float: right;
}

.card-admin .btnFiltro {
    width: 190px;
    margin-right: 5px;
}

.card-admin .btn-acao {
    width: 200px;
    border: none;
    background-color: #00d8b871;
    margin-right: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.card-admin .btn-acao-2 {
    width: 200px;
    border: none;
    border: 1px solid #00D8B6;
    margin-right: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.card-admin .editardados {
    opacity: 0.60;
    cursor: pointer;
}

.card-admin #tituloGrafico {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-bottom: -20px;
    border-left: 5px solid #00D8B6;
    padding-left: 10px;
    font-size: 25px;
}

.admin-tag {
    background-color: #00d8b877;
    border-radius: 10px;
    font-size: 12px;
    margin-right: 10px;
    padding: 4px 10px;
}
.admin-inativo {
    background-color: #e4120b85;
    color: #000;
    border-radius: 10px;
    font-size: 12px;
    margin-right: 10px;
    padding: 4px 10px;
}

.card-admin .table {
    margin-top: 10px;
}

.card-admin2 {
    width: 900px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.20);
}

.input-edicao {
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.1rem;
    border: 2px solid rgb(228, 228, 228);
}

.custom-select2 {
    border: 2px solid rgb(228, 228, 228);
}

.campo-edicao {
    margin-top: 10px;
    font-size: 1.1rem;
}

.campo-edicao::placeholder {
    color: #000;
}

.admin-dashboard {
    background: linear-gradient(180deg, rgba(0, 216, 184, 0.185) 0%, rgba(232,230,230,0.7161239495798319) 61%);
}

.add-perguntas .admin-cards {
    width: 100%;
}

.add-perguntas .card {
    border-radius: 20px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.20);
}

.add-perguntas #tituloGrafico {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    border-left: 5px solid #00D8B6;
    padding-left: 10px;
    font-size: 25px;
}

.add-perguntas .input-group {
    margin-bottom: 20px;
}

.add-perguntas .btnAdd {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(44, 44, 44);
    font-weight: 900;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.listar-questoes {
    margin-top: 20px;
}

.campo-id2 {
    margin-top: 20px;
}
.campo-id {
    margin-top: 20px;
}

.btnEditar {
    width: 100%;
    height: 35px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    font-family: 'Nunito', sans-serif;
    background-color: #2b2828;
    color: rgb(255, 255, 255);
}
.listar-questoes .btnCarregar {
    width: 200px;
    height: 35px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    font-family: 'Nunito', sans-serif;
    background-color: #2b2828;
    color: rgb(255, 255, 255);
}

.listar-questoes .btn {
    position: relative;
    top: 10px;
    width: 200px;
    margin-left: 20px;
    height: 38px;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.637);
    color: rgb(253, 252, 252);
}

.listar-questoes .detalhes {
    background-color: rgb(255, 0, 0);
    color: white;
}

.listar-questoes .formulario-exclusao {
    margin-top: 20px;
    margin-bottom: 20px;
}

.listar-questoes .alerta {
    margin-left: 15px;
    position: relative;
    top: 5px;
}

.listar-questoes #icon {
    width: 36px;
    position: relative;
    top: 1px;
    color: black;
}

.gerenciar-usuarios #titulo-pagina {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    border-left: 5px solid #00D8B6;
    padding-left: 10px;
    font-size: 25px;
}

.listar-questoes .secao {
    margin-top: 10px;
}

.gerenciar-usuarios #titulo-pagina{
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

.gerenciar-usuarios .btnCarregar{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    background-color: #2b2828;
    border: none;
    color: rgb(255, 255, 255);
}

.gerenciar-usuarios .lista-usuarios {
    margin-top: 30px;
    width: 100%;
    border: 1px solid rgb(230, 228, 228);
    border-radius: 20px;
    padding: 20px;
}

.gerenciar-usuarios li {
    list-style: none;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

.gerenciar-usuarios .opcoes-gerenciamento {
    margin-top: 20px;
}

.gerenciar-usuarios .btn {
    width: 150px;
}

.gerenciar-usuarios .add {
    background-color: rgba(0, 0, 0, 0.699);
    font-family: 'Nunito', sans-serif;
    color: rgb(250, 250, 250);
}

.btnInativarAdmin {
    background-color: rgba(0, 0, 0, 0.699);
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 5px;
    width: 150px;
    color: rgb(250, 250, 250);
}

.btnRed {
    background-color: rgb(12, 12, 12);
    color: white;
}

.gerenciar-usuarios .inativar {
    background-color: transparent;
    border: 1px solid red;
    font-family: 'Nunito', sans-serif;
    color: rgb(32, 28, 28);
}

.gerenciar-usuarios #titulo-gerenciamento {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}